<!-- BODY CONTENT -->
<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="org-logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="roga&KopitaLogo" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">

        <!-- МЕНЮ КАРТОЧЕК СОТРУДНИКОВ -->
        <h3 class="users-menu-title">Сотрудники</h3>
        <ul class="list-unstyled navbar-list navbar-custom">
          <li>
            <a routerLink="/users/1" routerLinkActive="active-link">Фунт ЗП</a>
          </li>
          <li>
            <a routerLink="/users/2" routerLinkActive="active-link">Бендер ОИ</a>
          </li>
          <li>
            <a routerLink="/users/3" routerLinkActive="active-link">Балаганов ШП</a>
          </li>
          <li>
            <a routerLink="/users/4" routerLinkActive="active-link">Паниковский МС</a>
          </li>
          <li>
            <a routerLink="/users/5" routerLinkActive="active-link">Синицкая ЗВ</a>
          </li>
          <li>
            <a routerLink="/users/6" routerLinkActive="active-link">Козлевич АК</a>
          </li>
          <li>
            <a routerLink="/users/7" routerLinkActive="active-link">Корейко АИ</a>
          </li>
        </ul>

        <!-- ОТСТУП МЕЖДУ МЕНЮ -->
        <span class="menu-spacer"></span>

        <!-- МЕНЮ ТАБЕЛЕЙ СОТРУДНИКОВ -->
        <h3 class="users-menu-title">Табели</h3>
        <ul class="list-unstyled navbar-list navbar-custom">
          <li>
            <a href="#">Фунт ЗП</a>
          </li>
          <li>
            <a href="#">Бендер ОИ</a>
          </li>
          <li>
            <a href="#">Балаганов ШП</a>
          </li>
          <li>
            <a href="#">Паниковский МС</a>
          </li>
          <li>
            <a href="#">Синицкая ЗВ</a>
          </li>
          <li>
            <a href="#">Козлевич АК</a>
          </li>
          <li>
            <a href="#">Корейко АИ</a>
          </li>
        </ul>

        <!-- ОТСТУП МЕЖДУ МЕНЮ -->
        <span class="menu-spacer"></span>

        <!-- МЕНЮ РАЗНОЕ -->
        <h3 class="users-menu-title">Карточки</h3>
        <ul class="list-unstyled navbar-list navbar-custom">
          <!-- пункт пока отключен (форма добавления сотрудника) -->
          <!--
          <li>
            <a href="user-form.html">Сотрудник</a>
          </li>
          -->
          <li>
            <!--<a href="user-cards.html">Сотрудники</a>-->
            <a routerLink="/users/search/findAll">Сотрудники</a>

          </li>
        </ul>

        <!-- ОТСТУП МЕЖДУ МЕНЮ -->
        <span class="menu-spacer"></span>

        <!-- МЕНЮ ТАБЕЛЯ -->
        <h3 class="users-menu-title">Табель</h3>
        <ul class="list-unstyled navbar-list navbar-custom">
          <li>
            <a href="#">Смотреть</a>
          </li>
          <li>
            <a href="#">Скачать</a>
          </li>
        </ul>

      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">

    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

              <div class="form-header">

                  <!-- ORGDATA-HEADER-SINGLE COMPONENT-->
                  <app-orgdata-header-single></app-orgdata-header-single>

              </div>

              <div class="cart-area d-n">
                <a href="#">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </a>
              </div>

          </div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">

        <!-- USER SIMPLE CARDS -->
        <!-- <app-user-card-list-home></app-user-card-list-home> -->

        <!-- ROUTER OUTLET -->
        <router-outlet></router-outlet>

    </div>
    <!-- END MAIN CONTENT-->

  </div>
</div>
<!-- END PAGE CONTAINER-->


<footer>
  <ul>
    <li><a href="#">О проекте</a></li>
    <li><a href="#">Контакты</a></li>
    <li><a href="#">Помощь</a></li>
  </ul>
</footer>
<!-- END BODY CONTENT -->
