.user-component-v1 {

  border: 0px solid red;  /* DEBUG */
  /* т.к в родительском div-контейнере в css-классе "content" используется flex-box для позиционирования,
     то нужно использовать там-же директиву "align-items: flex-start" чтобы дочерние div-блоки прижимались к левому краю */
}

p {
  /*font-family: Courier, monospace;*/
  font-family: Noto Sans, sans-serif;
}

a:link {
  color: #4849ee;
  text-decoration:none;
  font-weight: bold;
}

a:visited {
  color: #4849ee;
  text-decoration:none;
  font-weight: bold;
}

a:hover {
  text-decoration:underline;
}

a:active {
  color: #4849ee;
  font-weight: bold;
}
